/*BoardList.js*/
.mobileBoardList {
  background-color: #fcfcfc;
  height: 100%;
  overflow-y: auto;
}
.mobileBoardTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding: 10px 20px;
}
.logoImg {
  width: 100px;
}
.userImg {
  width: 40px;
  margin-left: auto;
}
.mobileBoardCreateBtn {
  position: fixed;
  bottom: 85px; /* 원하는 거리로 조정 */
  right: 10px; /* 원하는 거리로 조정 */
  z-index: 999; /* 다른 요소 위에 표시 */
  width: 35px;
  height: 35px;
  background-color: #000000;
  color: white;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
}
.mobileBoardOptBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 80px;
  border-bottom: 1px solid #d9d9d9;
}
.mobileBoard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 10px 0;
}
.mobileboardItem {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.mobileListNoImgBox {
  display: flex;
  height: 160px;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin: 5px 0;
}
.mobileListNoImg {
  width: 40px;
  height: 40px;
  margin: auto;
}
.mobileListImg {
  max-height: 160px; /* 원하는 높이로 설정 */
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}
.mobileListTitle {
  width: 100%;
  font-size: 20px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.pcBoardList {
  height: 100%;
  background-color: #fcfcfc;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.boardCreateBtn {
  position: fixed;
  bottom: 40px; /* 원하는 거리로 조정 */
  right: 295px; /* 원하는 거리로 조정 */
  z-index: 999; /* 다른 요소 위에 표시 */
  width: 40px;
  height: 40px;
  background-color: #000000;
  color: white;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}
.pcBoardOptBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 170px;
  border-bottom: 1px solid #d9d9d9;
}
.boardOpt {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  padding: 10px 20px;
  margin: 0;
  border: none;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}
.boardOptActive {
  border-color: #000000;
}
.board {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  gap: 20px;
}
.boardItem {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.listNoImgBox {
  display: flex;
  height: 280px;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin: 5px 0;
}
.listNoImg {
  width: 40px;
  height: 40px;
  margin: auto;
}
.listImg {
  max-height: 280px; /* 원하는 높이로 설정 */
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}
.listBox {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.listUserImg {
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.listContentBox {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  gap: 5px;
}
.listTitle {
  width: 500px;
  font-size: 20px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listNickname {
  font-size: 18px;
  color: #6b6b6b;
  margin: 0;
}
.listContent {
  font-size: 14px;
  color: #6b6b6b;
  margin: 0;
}
.listOptIcon {
  width: 20px;
  height: 20px;
  color: #6b6b6b;
  margin-left: auto;
}

/*BoardPage.js*/ /*BoardPage.js*/ /*BoardPage.js*/
.BoardPage {
  padding: 20px;
}
.mobileBoardBackIcon {
  width: 28px;
  height: 28px;
  margin-left: -5px;
  cursor: pointer;
}
.boardBackIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.mobileBoardViews {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -10px 0;
  gap: 10px;
}
.boardViews {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.boardOptIcon {
  width: 15px;
  height: 15px;
  color: #6b6b6b;
  margin-left: auto;
}
.boardUserImg {
  width: 32px;
  height: 32px;
}
.boardNickname {
  color: #333333;
  font-size: 17px;
  margin: 0;
}
.boardCreatedDate {
  color: #8d8d8d;
  font-size: 14px;
  margin: 5px 0 0 10px;
}
.hr {
  background: #8d8d8d;
  height: 1px;
  border: 0;
  margin: 20px 0 0;
}
.boardContentBox {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}
.boardContent {
  margin: 0;
  line-height: 1.8;
}
.boardSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px 0 -15px;
}
.mobileBoardSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 0 -15px;
}
.boardLikedBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px;
  border: 1px solid #333333;
  border-radius: 12px;
  gap: 4px;
}
.boardLikedFalseIcon {
  width: 22px;
  height: 22px;
  color: #8d8d8d;
  cursor: pointer;
}
.boardLikedFalseIcon:hover {
  color: red;
}
.boardLikedTrueIcon {
  width: 22px;
  height: 22px;
  color: red;
  cursor: pointer;
}
.boardLikedCount {
  font-size: 18px;
  color: #8d8d8d;
  margin: 2px 0 0;
}
.boardEditBtn {
  margin: 0 0 0 auto;
  cursor: pointer;
}
.boardDeleteBtn {
  margin: 0 0 0 20px;
  cursor: pointer;
}
