body {
  margin: 0;
  min-width: 1110px;
  overflow-x: auto;
}
/*BoardListLayout*/
.boardListPage {
  display: grid;
  justify-content: center;
  grid-template-columns: 160px 650px 300px; /* 3개의 열을 가진 그리드를 생성 */
}
/*BoardPageLayout*/
.boardPage {
  display: grid;
  justify-content: center;
  grid-template-columns: 160px 950px;
}
